<h1 style="text-align:center;"> <i>Freelance Web and Mobile Developer based in Maryland, USA.<br> Highly experienced in developing web and mobile applications.</i></h1>
<br>

<div class="jumbotron jumbotron-fluid" id="services-jumbo">
  <div class="container">
  </div>
</div>

<h3 style="text-align:center;">Our Services</h3>
<div class="row">

<div class="card col-sm-4" style="width: 20rem;">
  <%= image_tag("services/web.jpeg", :alt => "rss feed", :class => "card-img-top card-image-resize") %>
  <div class="card-block ">
    <h4 class="card-title">Web Development</h4>
    <p class="card-text">Our approach to website design is to create a website that strengthens your company’s brand while 
    ensuring ease of use and simplicity for your audience.</p>
   <a <%= link_to "Get Quote", new_email_path, class: "btn btn-primary" %></a>
  </div>
</div>

<div class="card col-sm-4" style="width: 20rem;">
  <%= image_tag("services/WP.png", :alt => "rss feed", :class => "card-img-top card-image-resize") %>
  <div class="card-block ">
    <h4 class="card-title">Wordpress</h4>
    <p class="card-text">We have experience in Wordpress, Wix and Weebly and will quickly design sites for you. Each site is SEO optimized for best performance as well.</p>
    <a <%= link_to "Get Quote", new_email_path, class: "btn btn-primary" %></a>
  </div>
</div>

<div class="card col-sm-4" style="width: 20rem;">
  <%= image_tag("services/ios.png", :alt => "rss feed", :class => "card-img-top card-image-resize") %>
  <div class="card-block">
    <h4 class="card-title">Apple Apps</h4>
    <p class="card-text">Our approach is to create an app design that strengthens your company’s brand while ensuring ease of use and simplicity for your audience.</p>
    <a> <%= link_to "Get Quote", new_email_path, class: "btn btn-primary" %></a>
  </div>
</div>

</div>

<div class="container">
<br>
<h3 style="text-align: center;"> <Strong>Why Us?</Strong></h3>
<br>
<h4> Affordable</h4>
<p>One of the most obvious reasons why businesses are hiring more and more freelance developers is that it is very cost-effective to do so. You can hire freelance web developers within your budget without compromising on quality .</p>
<h4> Trust The Process</h4>
<p>When tasked with a new project our team has developed a system that has proven to be most efficient and time saving. We use wireframing and sketches of every application and ensure that's what our client wants. While developing we regularly update the client and provide feedback and tips to improve the project. We believe strong communication with the client is a key driver to success, so we have made ourselves easy to reach! Lastly, we care about the success of our clients. We understand 
the possible complications that may arise from ambiguity and pledge to be as patient as needed for the success of the project.</p>
</div>
<a> <%= link_to "Projects", projects_path, class: "btn btn-info" %></a>
</div>
         