<h2 style="margin: 0px auto 5px;">     Websites recently created </h2>
<p style="margin:  auto 5px;">    Languages: HTML/CSS, Javascript, Ruby, Swift and Java</p>

<div class="container">
  
  <%= image_tag("blogsample.png", :alt => "rss feed", :class => "image", :style => "width: 100%") %>
  
  <div class="middle">
    <div class="text">
       <h5> Twitter(like) Blog Site</h5>
       <ul>
          <li>HTML 5 (layout)</li>
          <li>Javascript/Ajax (frontend functionality) </li>
          <li>Ruby & Ruby on Rails (backend) </li>
       </ul>
    </div>
  </div>
</div>
<div class="container">
  
  <%= image_tag("financesample.png", :alt => "rss feed", :class => "image", :style => "width: 100%") %>
  
  <div class="middle">
    <div class="text">
     <h5> Stock Tracker App</h5>
     <p> Simple web application to keep track of stocks with google stock api integrated</p>
       <ul>
          <li>HTML 5/bootstrap (layout)</li>
          <li>Ajax (frontend functionality) </li>
          <li>Ruby & Ruby on Rails (backend) </li>
       </ul>
    </div>
  </div>
</div>
<h2>Live Sites</h2>
<p>Hover over the image to see the effect.</p>

<div class="container">
  
  <%= image_tag("landscapesample.png", :alt => "rss feed", :class => "image", :style => "width: 100%") %>
  
  <div class="middle">
    <div class="text">
        <h5> Professional Business Site for Contractor</h5>
       <ul>
          <li>HTML/CSS (layout)</li>
          <li>Javascript/Ajax (frontend functionality) </li>
          <li>Ruby & Ruby on Rails (backend) </li>
       </ul>
       </div>
  </div>
</div>
<div class="container">
  
  <%= image_tag("wixsample.png", :alt => "rss feed", :class => "image", :style => "width: 100%") %>
  
  <div class="middle">
    <div class="text">
     <h5> Wix Site</h5>
       <ul>
          <li>Wix Framework </li>
          
       </ul></div>
  </div>
</div>
<div class="container">
  
  <%= image_tag("wpsample.png", :alt => "rss feed", :class => "image", :style => "width: 100%") %>
  
  <div class="middle">
    <div class="text">
     <h5> Wordpress Site IOS/Android APP</h5>
     <p> Two apps created to aggregate information from Blog site</p>
       <ul>
          <li>Swift(IOS) Java(Android) application</li>
          <li>SQL (database)<li>
       </ul></div>
  </div>
</div>