<% provide(:title, 'Quote') %>
<br>
<h1>Contact Me</h1>
<br>

<div class="fixed-container" >
  <div class=" col-md-6 col-md-offset-3 " style=" float: left;
   display:block;
     background-color:hsla(0, 0%, 71%,.2);" >
    <%= image_tag("office.png", :alt => "rss feed", :class => "card-img-top card-image-resize") %>
    <h7>Quick Contact: (443) 726-0518</h7>
    <h6> Office Hours: 7:00am - 6:00pm(EST) </h6>
    <br><br><br><br><br><br><h4> By all means, feel free to contact me via the email form I will respond within 24hrs.</h4>
  <br><br><br></div>
  
  <div class="col-md-6 col-md-offset-3 " style= "float: right;
  display: block;
  background-color:hsla(0, 0%, 71%,.2);">
    <%= form_for(@email) do |f| %>
          <%= render 'error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control',placeholder: "Enter Name*" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control',placeholder: "Enter an email* " %>

      <%= f.label :phone %>
      <%= f.number_field :phone, class: 'form-control',placeholder: "Enter a number we can reach you with*" %>

        <%= f.label :content %>
      <%= f.text_area :content, size: "60x12", class: 'form-control',placeholder: "(1000 characters)*" %>

      <%= f.submit "Send Email!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>