<div class="side-navigation">
  <%= image_tag("prof-img.png", class: "portrait") %>
  <h2 ><%= link_to "Home", root_path, id: "color-fade" %></h2>
 
  <ul class="list" >
  <li ><a id = "color-fade" href="https://docs.google.com/document/d/1sITeSY6M3H9dKf_4q1Th6BUNl0-ErVQ1yvJ7BCeaWnw/edit?usp=sharing" target="_blank">Resume</a></li>
  <li ><a id = "color-fade" href="../projects">Projects</a></li>
  <li ><a id = "color-fade" href="../emails/new">Contact</a></li>
  </ul>
  
  <a href="https://www.facebook.com/dylan.godfrey.1" target="_blank"> <%= image_tag("fbicon.png", class: "icon") %>   </a>
  <a href="https://www.linkedin.com/in/dylan-godfrey-3840b5121" target="_blank"> <%= image_tag("linkedin.png", class: "icon") %>   </a>
   <a href="https://github.com/dylangodfrey12" target="_blank"> <%= image_tag("github.png", class: "icon") %>   </a>
  <br><br><br><br><br>
  <p style="color: white;"><em> "A good programmer looks both ways before crossing a one-way street"</em></p>
  
  <p style="color: white;"><em>-Yours Truly</em></p>
</div>


